.progress {
    background: rgba(3, 0, 0, 0.1);
    justify-content: flex-start;
    border-radius: 15px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 70%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px black;
    border-radius: 10px;
    background: black;
    height: 30px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 75%; }
  }

  .txt-bar {
      font-family: "bold";
  }